body {
    background: #092B3B;
    margin: 0;
    padding: 0;
  }
  
  /* header {
    background-color: #105A7E;
    border-radius: 12px;
    padding: 1rem;
    color: white;
  } */
  
  .full-height {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  main {
    padding: 0 1rem 1rem;
  }
  .bg-section {
    background-color: #105A7E; /* Light background for visual distinction */
    border-radius: 10px /* Optional: adds a border for better visibility */
}
#regionMissionChart {
  width: 100% !important;
  height: 100% !important;
}