@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

body, html {
  height: 100%;
  margin: 0;
  background-color: #092B3B;
  color: white;
}
.form-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-container {
  background-color: #105A7E;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.form-container img {
  max-width: 100%;
  height: auto;
}

.signInbtn {
  background-color: #81FF76;
  color: rgb(30, 29, 29);
  border: none;
  border-radius: 6px;
  font-size:16px;
}
.signInbtn:hover {
  background-color: #0b3f58;
  color:white;
}
.logo-below {
  margin-top: 2rem;
}
.bluishtext{
    color: rgba(255, 255, 255, 0.25);
}
.input-dark-blue {
  background-color: #0A415B !important;
  color: #ffffff !important;
  border: 1px solid #0A415B;
}

.input-dark-blue::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.input-dark-blue:focus,
.input-dark-blue:active,
.input-dark-blue:hover,
.input-dark-blue:focus-visible,
.input-dark-blue:focus-within {
  background-color: #0A415B !important;
  color: #ffffff !important;
  border-color: #092B3B;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
  }
